body{
    background-image: url(Drone10+copy.webp);
    height:1250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    opacity: 85%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px;
    width: 700px;
    text-align: left;
}

h2{
    text-align: center;
    color: rgb(13, 66, 190);
}

h5{
    text-align: center;
}

p{
    text-align: center;
    color: rgb(255, 255, 255);
}


